@model AdvancedEship.Models.UserAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.My_UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.My_UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.My_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.My_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.My_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.My_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.My_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.My_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.My_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.My_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.My_Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.My_Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.My_Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.My_Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
