@model IEnumerable<AdvancedEship.Models.UserAccount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.My_UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.My_Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.My_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.My_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.My_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.My_Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.My_Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.My_UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.My_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.My_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.My_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.My_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.My_Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.My_Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
